.chart-container {
  position: relative;
  height: 250px;
}

.card {
  border: 1px solid #dee2e6;
}

.card-title {
  font-weight: normal;
  color: #212529;
}

.table {
  background-color: #fff;

  th {
    background-color: #f8f9fa;
    font-weight: 500;
  }

  td, th {
    text-align: center;
    vertical-align: middle;
  }
}
